<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboards</title>
</head>
<body>
    <h6>Bienvenido {{name}}</h6>
    <p>Aquí están tus historias</p>
    {{#if stories}}
       
            <table class="stripped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                     {{#each stories}}
                        <tr>
                            <td><a href="/stories/{{_id}}">{{title}}</a></td>
                           <td>{{formatDate createAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                            <td><span class="dash-status">{{status}}</span></td>
                            <td>
                                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                                <i class="fas fa-edit"></i></a>

                                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn red">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                     {{/each}}
                </tbody>
            </table>
        
    {{else}}
        <p>No tienes historias</p>
    {{/if}}
</body>
</html>