<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboards</title>
</head>
<body>
    <h6>Bienvenido {{name}}</h6>
    <p>Aquí están tus historias</p>
    {{#if stories}}
       
            <table class="stripped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                     {{#each stories}}
                        <tr>
                            <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                            <td>{{createAt}}</td>
                            <td><span class="dash-status">{{status}}</span></td>
                        </tr>
                     {{/each}}
                </tbody>
            </table>
        
    {{else}}
        <p>No tienes historias</p>
    {{/if}}
</body>
</html>